## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Waddan,LY,93.31,clear sky,29.1614,16.1390,محل الشريف محمد العايب
1,4,Atuona,PF,77.20,scattered clouds,-9.8000,-139.0333,Villa Enata
2,6,Mumford,GH,77.22,scattered clouds,5.2618,-0.7590,Spanish Villa
3,12,Hithadhoo,MV,80.82,broken clouds,-0.6000,73.0833,Scoop Guest House
4,13,Yongchang,CN,75.65,light rain,30.0381,119.7317,Xinxin Honglou Hotel

In [34]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vaca_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=vaca_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lata"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lata"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Colares"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Faro"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Antequera"]

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0],\
        vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0],\
      vacation_start["Lng"].to_numpy()[0]

coords_stop_1 = vacation_stop1["Lat"].to_numpy()[0],\
                vacation_stop1["Lng"].to_numpy()[0]
coords_stop_2 = vacation_stop2["Lat"].to_numpy()[0],\
                vacation_stop2["Lng"].to_numpy()[0]
coords_stop_3 = vacation_stop3["Lat"].to_numpy()[0],\
                vacation_stop3["Lng"].to_numpy()[0]

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[coords_stop_1, coords_stop_2, coords_stop_3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,98,Lata,PT,78.04,overcast clouds,40.1629,-8.3327,Casa Maquia
1,98,Lata,PT,78.04,overcast clouds,40.1629,-8.3327,Casa Maquia
2,192,Colares,PT,75.29,broken clouds,38.7992,-9.4469,Arribas Sintra Hotel
3,502,Faro,PT,83.98,few clouds,37.0194,-7.9322,Hotel Faro & Beach Club
4,602,Antequera,ES,92.70,clear sky,37.0194,-4.5612,Hotel MM Antequera (anterior Hotel Las Villas)

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
v_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=v_info)
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))